#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    list-style: none;
    text-align: center;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 48vw;
    height: 100vh;
    text-align: center;
    line-height: 300px;
}

#slider ul li img {
    max-width: 90%;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    object-fit: contain;
}

.beachImage {
    margin: 0 auto 0 0;
}

.cafeImage {
    margin: 0 0 0 auto;
}

a.control_prev, a.control_next {
    color: black;
    font-weight: bold;
    position: absolute;
    z-index: 999;
    padding: 10px;
    left: 93%;
    transform: translateY(-50%);
}


a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    background-color: rgba(225, 93, 93, 0.5);
    border-radius: 0 2px 2px 0;
    top: 30%;
}

a.control_next {
    background-color: rgba(74, 145, 220, 0.5);
    border-radius: 2px 0 0 2px;
    top: 31.5%;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}
